{% extends 'base.html' %}
{% load static %}

{% block title %}Pricing | {{ site_name }}{% endblock %}

{% block content %}
<section class="pricing-section">
    <div class="padding-vertical padding-huge">
        <div class="container-90">
            <div class="margin-bottom margin-huge">
                <div class="display-vertical-center text-align-center">
                    <h1 class="heading-1">Simple, transparent pricing</h1>
                    <div class="container-50">
                        <p>Choose the plan that's right for your company. Whether you're a startup or an enterprise, we have a solution for your hiring needs.</p>
                    </div>
                </div>
            </div>

            <div class="w-layout-grid grid-3x1">
                {# Basic Plan #}
                <div class="job-offer-wrapper display-vertical-left gap-1-5rem">
                    <div class="display-vertical-left gap-0-5rem">
                        <div class="subtitle black">Basic</div>
                        <h2 class="heading-3">$99<span class="text-size-small">/post</span></h2>
                    </div>
                    <p>Perfect for startups looking to fill a single position quickly.</p>
                    <ul class="w-list-unstyled display-vertical-left gap-0-5rem">
                        <li class="display-horizontal-left gap-0-5rem">
                            <img src="{% static 'images/email-icon.svg' %}" class="icon-1x1-xsmall" />
                            <span>30 days visibility</span>
                        </li>
                        <li class="display-horizontal-left gap-0-5rem">
                            <img src="{% static 'images/email-icon.svg' %}" class="icon-1x1-xsmall" />
                            <span>Standard support</span>
                        </li>
                    </ul>
                    <a href="{% url 'jobs:post_job' %}" class="button black w-full w-button">Post a Job</a>
                </div>

                {# Pro Plan #}
                <div class="job-offer-wrapper display-vertical-left gap-1-5rem border-accent" style="border: 2px solid #000;">
                    <div class="display-vertical-left gap-0-5rem">
                        <div class="display-horizontal-between w-full">
                            <div class="subtitle black">Pro</div>
                            <div class="badge-featured">Popular</div>
                        </div>
                        <h2 class="heading-3">$249<span class="text-size-small">/post</span></h2>
                    </div>
                    <p>Boost your reach with featured placement and social media promotion.</p>
                    <ul class="w-list-unstyled display-vertical-left gap-0-5rem">
                        <li class="display-horizontal-left gap-0-5rem">
                            <img src="{% static 'images/email-icon.svg' %}" class="icon-1x1-xsmall" />
                            <span>60 days visibility</span>
                        </li>
                        <li class="display-horizontal-left gap-0-5rem">
                            <img src="{% static 'images/email-icon.svg' %}" class="icon-1x1-xsmall" />
                            <span>Featured placement</span>
                        </li>
                        <li class="display-horizontal-left gap-0-5rem">
                            <img src="{% static 'images/email-icon.svg' %}" class="icon-1x1-xsmall" />
                            <span>Newsletter inclusion</span>
                        </li>
                    </ul>
                    <a href="{% url 'jobs:post_job' %}" class="button black w-full w-button">Get Started</a>
                </div>

                {# Enterprise Plan #}
                <div class="job-offer-wrapper display-vertical-left gap-1-5rem">
                    <div class="display-vertical-left gap-0-5rem">
                        <div class="subtitle black">Enterprise</div>
                        <h2 class="heading-3">Custom</h2>
                    </div>
                    <p>Custom solutions for high-volume hiring and employer branding.</p>
                    <ul class="w-list-unstyled display-vertical-left gap-0-5rem">
                        <li class="display-horizontal-left gap-0-5rem">
                            <img src="{% static 'images/email-icon.svg' %}" class="icon-1x1-xsmall" />
                            <span>Unlimited posts</span>
                        </li>
                        <li class="display-horizontal-left gap-0-5rem">
                            <img src="{% static 'images/email-icon.svg' %}" class="icon-1x1-xsmall" />
                            <span>Dedicated account manager</span>
                        </li>
                    </ul>
                    <a href="{% url 'core:contact' %}" class="button black w-full w-button">Contact Sales</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'components/cta_newsletter.html' %}
{% endblock %}
