{% extends 'base.html' %}

{% block title %}Terms of Service{% endblock %}
{% block meta_description %}Terms of Service and user agreement for {{ site_name }}.{% endblock %}

{% block content %}
<div class="container-regular padding-vertical padding-large">
    <div class="text-center margin-bottom margin-large">
        <h1 class="heading-large">Terms of Service</h1>
        <p class="text-size-medium text-color-grey">Last updated: {% now "F j, Y" %}</p>
    </div>

    <div class="max-width-large mx-auto">
        <div class="prose">
            <h3 class="heading-small">1. Agreement to Terms</h3>
            <p>These Terms of Use constitute a legally binding agreement made between you, whether personally or on behalf of an entity ("you") and {{ site_name }} ("Company," "we," "us," or "our"), concerning your access to and use of the jobfoundryhub.com website as well as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected thereto (collectively, the "Site").</p>

            <h3 class="heading-small">2. Intellectual Property Rights</h3>
            <p>Unless otherwise indicated, the Site is our proprietary property and all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics on the Site (collectively, the "Content") and the trademarks, service marks, and logos contained therein (the "Marks") are owned or controlled by us or licensed to us, and are protected by copyright and trademark laws and various other intellectual property rights and unfair competition laws of the United States, international copyright laws, and international conventions.</p>

            <h3 class="heading-small">3. User Representations</h3>
            <p>By using the Site, you represent and warrant that: (1) all registration information you submit will be true, accurate, current, and complete; (2) you will maintain the accuracy of such information and promptly update such registration information as necessary; (3) you have the legal capacity and you agree to comply with these Terms of Use; (4) you are not a minor in the jurisdiction in which you reside; (5) you will not access the Site through automated or non-human means, whether through a bot, script, or otherwise; (6) you will not use the Site for any illegal or unauthorized purpose; and (7) your use of the Site will not violate any applicable law or regulation.</p>

            <h3 class="heading-small">4. Prohibited Activities</h3>
            <p>You may not access or use the Site for any purpose other than that for which we make the Site available. The Site may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.</p>

            <h3 class="heading-small">5. Modifications and Interruptions</h3>
            <p>We reserve the right to change, modify, or remove the contents of the Site at any time or for any reason at our sole discretion without notice. However, we have no obligation to update any information on our Site. We also reserve the right to modify or discontinue all or part of the Site without notice at any time.</p>

            <h3 class="heading-small">6. Contact Us</h3>
            <p>In order to resolve a complaint regarding the Site or to receive further information regarding use of the Site, please contact us at:</p>
            <p>{{ site_name }}<br>
            Email: {{ contact_email }}</p>
        </div>
    </div>
</div>
{% endblock %}
